@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'cards';

body {
  background-color: $favColor;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
.card-body {
  text-align: center;
  justify-content: center;
  background-color: 'B3CBB9';
};
};
